@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  /* COLORS */
  /* BG */
  --color-bg: #fafafa;
  --color-bg-title: #32708c;
  --color-bg-sub-title: #7eabbf;

  /* TEXT */
  --color-text: #333;
  --color-text-mid: #555;
  --color-text-lighter: #999;

  /* ICONS */
  --color-icon: #ffc561;
  --color-icon-hover: #d89d38;

  /* BONUS */
  --color-button: #32708c;
  --color-button-hover: #b8f3e5;
  --color-box-shadow: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: var(--color-text);
  background-color: var(--color-button);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
  color: var(--color-icon);
  font-weight: 700;
  transition: all ease-in-out 250ms;
}

* a:hover {
  color: var(--color-icon-hover);
}

#intro span {
  font-size: 120%;
}

/* .title-page .fas,
#navbar .fas {
  color: var(--color-icon);
} */

#navbar {
  margin: 1.5rem auto;
}

.navbar-brand {
  font-size: 200%;
  font-weight: 400;
}

.nav-titles {
  font-size: 105%;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-item {
  margin: 0 1rem 0 0;
}

.nav-item .fas {
  font-size: 130%;
  margin: 0 0.5rem;
  color: var(--color-text);
}

.nav-titles .nav-link.nav-item,
.nav-titles .nav-link.nav-item.active {
  color: var(--color-button);
  transition: all ease-in-out 250ms;
}

.nav-titles .nav-link.nav-item:hover {
  color: var(--color-icon-hover);
}

#intro {
  background-color: var(--color-bg-title);
  color: var(--color-bg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 115%;
  line-height: 45px;
  padding: 3rem 0;
}

#intro .section-title {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

#intro .section-intro {
  width: 80%;
  text-align: center;
}

.link-infos,
.link-cv {
  background: var(--color-bg-sub-title);
  color: var(--color-bg);
  font-size: 105%;
  font-weight: 700;
  margin: 3rem;
  border-radius: 0.25rem;
  transition: all ease-in-out 250ms;
}

.link-infos:hover,
.link-cv:hover {
  text-decoration: none;
  background: var(--color-icon);
  color: var(--color-text);
}

span.date,
.date-close {
  font-weight: 600;
  font-size: 140%;
  color: var(--color-icon-hover);
}

/* HEADER */

#head-page {
  background-color: var(--color-bg-title);
  color: var(--color-bg);
  padding: 40px;
  text-align: center;
}

.contact-infos {
  color: var(--color-icon);
}

.contact-infos i {
  font-size: 120%;
}

.contact-infos a {
  font-size: 130%;
  color: var(--color-bg-title);
}

.contact-infos a:hover {
  color: var(--color-button-hover);
}

.my-image {
  max-height: 300px;
  /* border: 10px solid var(--color-icon); */
}

h4.section-title {
  font-size: 250%;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-bg-title);
  text-align: center;
  margin: 3rem auto;
}

/* SKILLS */

#skills {
  background: var(--color-bg);
  padding: 40px;
}

#skills h4 {
  margin-top: 3rem !important;
}

#skills .card {
  margin: 2rem auto;
  border: none;
  max-width: 100%;
}

#skills i {
  font-size: 350%;
  color: var(--color-bg);
}

#skills .card-text {
  font-weight: 800;
  margin-top: 1rem;
}

.card-body {
  transform: translateX(-500%);
  transition: all ease-in-out 1000ms;
}

.card-body.show {
  transform: translateX(0);
}

/* EXPERIENCES */

#experiences {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
  padding: 0 40px;
  background: var(--color-button);
  color: var(--color-bg);
}

#experiences h4 {
  padding: 10px 0 10px;
}

#experiences h4.section-title {
  margin-bottom: 2rem;
}

#path,
#work {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.education,
p.occupation {
  margin: 1rem;
}

.last-block {
  background-color: var(--color-bg-title);
  padding: 40px;
}

p.occupation-now {
  margin: 1rem;
  color: var(--color-bg);
  line-height: 30px;
}

.section-title-last {
  font-size: 250%;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-bg);
  text-align: center;
  padding: 50px 0 25px;
}

.part-un,
.part-deux {
  text-align: center;
  font-size: 105%;
  padding: 0 1rem;
}

#certifications {
  color: var(--color-bg);
  font-weight: 600;
  background: var(--color-bg-sub-title);
}

#certifications:hover {
  background: var(--color-icon);
  color: var(--color-text);
}

.grade-links {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0;
}

.grade-links li {
  margin-bottom: 0.5rem;
}

.grade-links li:last-child {
  margin-bottom: 0;
}

.grade-links li a {
  font-weight: 500;
  color: var(--color-button);
}

.grade-links li a:hover {
  color: var(--color-icon-hover);
}

#project-container {
  background: var(--color-bg);
}

#project-container h4 {
  margin: 0;
  padding-top: 3rem;
}

#project-container p {
  color: var(--color-text);
}

#project-container a {
  color: var(--color-button);
}

#project-container a:hover {
  text-decoration: none;
  color: var(--color-icon-hover);
}

.title-page {
  font-size: 350%;
  font-weight: 300;
  padding: 5rem;
  margin: 0;
  text-transform: uppercase;
  background: var(--color-bg-title);
  color: var(--color-bg);
}

.row.card {
  margin: 5rem 0;
  box-shadow: 0 2px 5px var(--color-box-shadow);
  border-radius: 0.25rem;
}

.card-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-header h3 {
  margin-bottom: 1.5rem;
}

.card-header h5 {
  color: var(--color-bg);
}

.my-image {
  width: 250px;
  height: auto;
  margin: 1rem;
}

.card-body {
  background: var(--color-button);
  border-radius: 0.25rem;
}

.card-link {
  margin: 0 !important;
}

.card-body .card-text {
  font-size: 105%;
  font-weight: 500;
  width: 80%;
}

.card-footer {
  display: flex;
  justify-content: space-evenly;
}

.card-footer a {
  text-decoration: none;
  font-size: 120%;
  font-weight: 900;
  color: var(--color-text);
  transition: all ease-in-out 250ms;
}

.card-footer a:hover {
  color: var(--color-button);
}

.title-page {
  font-size: 350%;
  font-weight: 300;
  padding: 5rem;
  margin: 0;
  text-transform: uppercase;
  background: var(--color-bg-title);
  color: var(--color-bg);
}

.article-title {
  padding: 2rem;
  font-size: 200%;
  text-transform: uppercase;
}

.article-title .fas {
  margin-right: 2rem;
}

.short-text {
  line-height: 45px;
}

.bigger-size {
  font-size: 170%;
  color: var(--color-icon);
}

#motivation {
  padding: 3rem;
  background: var(--color-bg-title);
  color: var(--color-bg);
  font-size: 110%;
  line-height: 35px;
  margin-bottom: 1rem;
}

.project {
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  max-width: 650px;
}

h5.project-title {
  font-size: 200%;
  padding-bottom: 1rem;
}

.project-title a {
  font-weight: 400;
}

.icon-dark {
  color: var(--color-button);
  margin-right: 0.25rem;
}

.project-description {
  font-size: 105%;
  font-weight: 500;
  color: var(--color-bg);
  padding-bottom: 1rem;
  line-height: 35px;
}

#card-contact .card-body {
  background: var(--color-bg-sub-title);
}

img.project-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  box-shadow: 0 1px 5px var(--color-box-shadow);
  transform: scale(0.95);
  transition: all ease-in-out 250ms;
}

img.project-thumbnail:hover {
  transform: scale(1.05);
}

#footer {
  background: var(--color-text);
}

#footer p {
  line-height: 40px;
  margin: 0;
}

#footer i {
  color: var(--color-icon-hover);
}
