@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;400;700;900&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  height: 100vh;
  min-width: 700px;
}

.left-slide {
  transition: transform 650ms ease-in-out;
}

.right-slide {
  left: 25%;
  transition: transform 650ms ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

button {
  transition: all ease-in-out 300ms;
}

.slider-container .action-buttons button {
  left: 25%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
}
.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
}
