@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 18px;
  background: #b223dd;
}

#one {
  height: 50vh;
}

#two {
  height: 50vh;
}

.number {
  font-size: 6rem;
}
